.navigation{
	background-color: whitesmoke;
}

.list-group{
	height:90vh;
	overflow-y:scroll;
}

#requests{
	list-style-type: none;
}

#request-item{
	padding: 3vh;
	height: 9vh;
	border-top: 1px solid whitesmoke;
	vertical-align: bottom;
}

#request-item:hover{
	background-color: whitesmoke;
}

list-group ul li a{
	font-size:1em;
}
