<div class="col-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-10 offset-2">
				<a routerLink="../../" id="backButton" class="btn btn-link">back</a>
				<a routerLink="./edit" id="editButton" class="btn btn-link">edit</a>
				<button class="btn btn-danger" id="deleteButton" (click)="deleteTaskByID()">delete</button>
				<button class="btn btn-success" (click)="completeTaskByID()">Complete</button>
			</div>
		</div>
		<div class="row">
			<div id="task" class="col-10">
				<h1>{{task.title}}</h1>
				<article class="request-item">
					<input type="checkbox" class="request-item-checkbox">
					<h2 class="request-item-header">Description</h2>
					<div class="request-item-content">{{task.taskDescription}}</div>
				</article>
			</div>
		</div>
	</div>
</div>
