<ul id="goals">
  <li id="goal-item" *ngFor="let goal of goals">
    <article>
        <select id="priority" [(ngModel)]="goal.priority" name="priority" (change)="changePriority(goal)">
            <option value="{{i}}" *ngFor="let goal of goals; let i = index">{{i}}</option>
          </select>
      <input type="checkbox" [checked] = "goal.isCompleted" [(ngModel)]="goal.isCompleted" (change)="completeGoal(goal.isCompleted ? true : false, goal)" />
      <a href="/goals/{{goal.id}}" [class.completed] = "goal.isCompleted">
        {{goal.title}}
      </a>
    </article>
  </li>
</ul>
