<div class="col-10">
  <form #requestForm="ngForm">
    <label>title:</label>
    <textarea id="title" placeholder="title" [(ngModel)]="request.title" name="title"></textarea>
    <label>description:</label>
    <textarea id="description" placeholder="description" [(ngModel)]="request.description" name="description"></textarea>
  </form>
  <button href="/#/requests/add?post" id="addButton" (click)="editRequest()">Edit</button>
  <a routerLink="/requests" id="cancelButton" class="btn btn-link">Back</a>
</div>