<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="row">
		<div class="col-2 navigation">
			<div class="sticky-top">
					<a routerLink="/requests/waiting" id="add-request-button" class="btn btn-link">Waiting Goals</a>
					<a routerLink="/requests/active" id="add-request-button" class="btn btn-link"> Active Goals</a>
			</div>
		</div>
		<div class="col-10 text-left small">
				<div class="row">
					<div class="col-12 list-group">
						<input placeholder="{{request.title}}">
					</div>	
				</div>
				<div class="row">
					<div class="col-12">
						<div class="sticky-top">
								<a routerLink="/requests" id="backButton" class="btn btn-link">Back</a>
								<a routerLink="/requests/{{request._id}}/edit" id="editButton" class="btn btn-link">Edit</a>
								<button id="deleteButton" (click)="deleteRequestByID()">delete</button>
						</div>
					</div>
				</div>
		</div>
	</div>